@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;600&display=swap');

html {
  font-family: 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  background-color: #271c1c;
  margin: 0;
}

body {
  display: grid;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    hsl(26, 88%, 3%),
    hsl(52, 49%, 12%),
    hsl(49, 72%, 36%)
  );
}

body::backdrop {
  background-color: 
  hsl(58, 91%, 37%),
  hsl(56, 96%, 32%),
  hsl(52, 91%, 23%),
  hsl(49, 91%, 22%)
}


code {
  font-family: 'Shizuru', cursive;
}