@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;600&display=swap');

html {
  font-family: 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  background-color: #271c1c;
  margin: 0;
}

body {
  display: grid;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    hsl(222, 91%, 45%),
    hsl(187, 72%, 29%),
    hsl(39, 93%, 42%)
  );
}

body::backdrop {
  background-color: 
  hsl(60, 67%, 4%),
  hsl(133, 96%, 32%),
  hsl(88, 74%, 35%),
  hsl(125, 91%, 22%)
}


code {
  font-family: 'Shizuru', cursive;
}